{% extends "header.html" %}

{% block content %} 

{% comment %} {% load crispy_forms_tags %}          {% endcomment %}

<!--Register--> 
<style>
	.button1 {background-color: #4CAF50;
		font-size: 16px;}
	p {
		font-family: verdana;
		font-size: 14px;
		color: black
	}
	input {
	width: 20%;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	}
</style>
<div>
	<h1 style="text-align: center;color: black;">Posts APP</h1>
	<h2>Register here</h2>
	<form method="POST">
		{% csrf_token %}
		{{ register_form }}
		<button class="btn btn-primary button1" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login/">login</a> instead.</p>
</div>

{% endblock %}